#main_table {
    height: 500px;
    width: 500px;
    margin: auto;
}

#title_sect {
background-color: #4287f5;
}

#title_sect h1 {
    text-align: center;
    color: white;
}

#select_menu {
    background-color: yellow;
    
}