body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#main_table {
  width: 500px;
  margin: auto;
}

#title_sect {
  background-color: rgb(84, 114, 178);
  height: 43px;
}

#title_sect h1 {
  text-align: center;
  color: white;
}

#select_menu {
  background-color: rgb(255, 219, 112);
  margin: -22px 0 0 0;

}

.left_menu {
  display: inline-block;
}

.right_menu {
  display: inline-block;
  margin: 0 0 0 60px;
}

.result_layout {
}

#my_btn {
  display: block;
  margin: auto;
}
